In [2]:
note = 5
i=1
while i < note:
    print(i)
    i=i+1
else:
    print("Bhai kya kar raha hai tu")

1
2
3
4
Bhai kya kar raha hai tu

In [3]:
note = 5
i=1
while i < note:
    print(i)
    i=i+1
    while i<2:
        print(i)
        i=i+1
else:
    print("Bhai kya kar raha hai tu")

1
2
3
4
Bhai kya kar raha hai tu

In [4]:
s="Dhiru"

In [5]:
s

'Dhiru'

In [6]:
s[2]

'i'

In [7]:
s[0]

'D'

In [9]:
#access element which is not present 
s[60]

IndexError: string index out of range

In [1]:
s="Best is the world"

In [2]:
#9 is end point and end point is always excluded
s[0:9]

'Best is t'

In [3]:
# 0 is starting point 9 is end point and 2 is step size/jump size
s[0:9:2]

'Bs st'

Reverse data

In [5]:
s[::-1]

'dlrow eht si tseB'

In [6]:
s[-1:-9:-2]

'drwe'

In [7]:
s[10:3:-1]

'eht si '

In [9]:
#you starting point is 10 and your end point is 3 which is before 10 and your step size is 1 which is positive. so it will not print anything

s[10:3:1]

''

In [10]:
s[2:-6]

'st is the'

# Extract data one by one from string

In [11]:
s="My Name is Tony"

In [14]:
for i in s:
    if i=='i':
        print("I got i")
    print(i)

M
y

N
a
m
e

I got i
i
s

T
o
n
y

In [19]:
for i in s:
    print(i)
else:
    if i=='o':
        print('o')
    print("This is too much")

M
y

N
a
m
e

i
s

T
o
n
y
This is too much

In [20]:
#continue meaning is to pass control to immediate one
for i in s :
    if i == "n":
        continue 
    print(i)
else :
    if i == 'u':
        print("last char was u ")
    print("this is a else condtion ")

M
y

N
a
m
e

i
s

T
o
y
this is a else condtion

In [21]:
n = 7 
for i in range(0 ,n):
    for j in range(0 ,i +1):
        print("+ " , end = "")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [3]:
def pattern(n):
      k = 2*n -2
      for i in range(n,-1,-1):
           for j in range(k,0,-1):
                print(end=" ")
           k = k +1
           for j in range(0, i+1):
                print("*", end=" ")
           print("\r")
 
pattern(5)

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [4]:
n = int(input('Enter number of rows required: '))

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='') 
    
    for j in range(2*i-1):
        print('*',end='') 
    print()

Enter number of rows required: 10
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [5]:
num = 5
m = 2 * num - 2
for i in range(num, -1, -1):
    for j in range(m, 0, -1):
        print(end=" ")
    m = m + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [6]:
n =9
i=0
while i < n :
    print(' '*(n-i-1) + '* '*(i+1))
    i +=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [7]:
i=1
k=1 #for printing starts with the increament of 2

while i<=5:
    b=1
    while b<=5-i:
        print(' ',end='')
        b=b+1
        
    j=1
    while j<=k:
        print('*', end='')
        j=j+1
    print()
    
    k=k+2
    
    i=i+1

    *
   ***
  *****
 *******
*********

In [9]:
userInput = int(input("Please enter the amount of rows: "))

row = 0
while(row < userInput):
    row += 1
    spaces = userInput - row

    spaces_counter = 0
    while(spaces_counter < spaces):
        print(" ", end='')
        spaces_counter += 1

    num_stars = 2*row-1
    while(num_stars > 0):
        print("*", end='')
        num_stars -= 1

    print()
print("**This is code**")

Please enter the amount of rows: 7
      *
     ***
    *****
   *******
  *********
 ***********
*************
**This is code**

In [10]:
for i in range(8, 0, -1):
    print(i)

8
7
6
5
4
3
2
1

In [11]:
for i in range(1, 19, 2):
    print(i)

1
3
5
7
9
11
13
15
17

In [12]:
n = int(input('Enter number of rows required: '))

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='') 
    
    for j in range(2*i-1):
        print('*',end='') 
    print()

Enter number of rows required: 7
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [13]:
num = 5
m = 2 * num - 2
for i in range(num, -1, -1):
    for j in range(m, 0, -1):
        print(end=" ")
    m = m + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [15]:
list=['67687',89089,'gyuguyg']

In [16]:
list[0]

'67687'

list can store hertrogenous kind of data

In [18]:
type(list)

list

In [19]:
name = "ui"
phno = 543535345
addr = "sdfsff"

name , phno , addr = "sudh " , 54353453,"fgfd"

In [20]:
l2=list()
type(l2)

TypeError: 'list' object is not callable

In [23]:
#list can be stored in within list

list=[90,'AJ',["ynuyui",90.20]]

In [22]:
list

[90, 'AJ', ['ynuyui', 90.2]]

In [24]:
l = ["sudh" , 34535,"sfsfsafa", True, 45+8j , [3,5,6,"dfg"],6.787]

In [26]:
for i in l:
    print(i)
    print(type(i))

sudh
<class 'str'>
34535
<class 'int'>
sfsfsafa
<class 'str'>
True
<class 'bool'>
(45+8j)
<class 'complex'>
[3, 5, 6, 'dfg']
<class 'list'>
6.787
<class 'float'>

In [27]:
if i in l:
    if type(i) == list:
        for j in i:
            print(type(j))

In [28]:
for i in l :
    if type(i) == list:
        n = 0
        for  j in i :
            if type(j) == int :
                n = n + j
        print(n)
                
        print(type(j))

In [29]:
l[80 :3:1]

[]